body {
	background-color: black;
	color: white;
}

.h1 {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	
	padding: 1em;
}

#slideshow {
	overflow:hidden;
	border: thin solid green;
	position: absolute;
}


.image img {
	max-height: 100%;
	max-width: 100%;
}

.image, .message {
	display: inline-block;
}

.message {
	font-weight: bolder;
}

#descriptions {
	display: none;
	padding: 0em;
}

#descriptions li {
	padding: 1em;
	text-align: center;
	display: inline-block;
}

#music-box {
	position: absolute;
	bottom: 0px;
	right: 0px;
	text-align: center;
}

#now-playin {
	display: block;
}